<div ng-controller="AssociationsController">
<h1>Associations Controller</h1>
	<form ng-submit="assignment()">
		<select id="player">
			<option ng-repeat="player in players" ng-model="player.name">{{ player.name }}</option>
		</select>
		<select id="team">
			<option ng-repeat="team in teams" ng-model="team.name">{{ team.name }}</option>
		</select>
		<input type="submit" value="Assign Player to Team">
	</form>

	<table>
		<th> Player </th>
		<th> Team </th>
		<th> Actions </th>

		<tr ng-repeat="player in players">
			<td>  {{ player.name }}  </td>
			<td>  {{ player.team }}  </td>

</div>