<html ng-app = 'app'>
<head>
	<meta charset="utf-8">
	<title>Factory/products</title>
	<script src='./bower_components/angular/angular.js'/></script>
	<script type="text/javascript">
		var appModule = angular.module('app', []);
		appModule.factory('productFactory', ['$http', function($http){
			var products = [{name: 'keyboard', price: 149.99}];
			var factory = {};
			factory.getProducts = function(callback){
				callback(products);
				} // end of .getProducts  
			factory.addProduct = function(newProduct, callback){
				console.log('NEW')
				products.push(newProduct);
				callback(products);
				}  // end of .addProduct
			factory.deleteProduct = function(index, callback){
				for (var i=index; i<products.length-1; i++){
    				products[i] = products[i+1];
  				}
  				products.pop();
				callback(products);
				console.log("deleted index "+index);
				}  // end of .deleteProduct
			return factory;
		}]); //  end of appModule.factory
		appModule.controller('productController', ['$scope', 'productFactory', function($scope, productFactory){
			
			function setProducts(data){
				$scope.products = data;
				$scope.product = {};
			}; 

			$scope.products = {};
			$scope.product = {};

			productFactory.getProducts(setProducts);
			
			$scope.addProduct = function(){
				productFactory.addProduct($scope.product, setProducts);
			}
			$scope.deleteProduct = function(index){ 
  				productFactory.deleteProduct(index, setProducts);
  			};
		}])   // end of appModule.controller
	</script>
</head>
<body ng-controller="productController">

	<h2>Products Controller</h2>
	<form>
		Product Name: <input type="text"  ng-model="product.name"><br>
		Product Price: <input type="number"  step=".01" ng-model="product.price"><br>
					<input type="submit" ng-click="addProduct()" value="Add Product">
	</form>
	<table>
		<th>  Name  </th>
		<th>  Price </th>
		<th> Action </th>

		<tr ng-repeat="product in products track by $index">
			<td> {{ product.name }} </td>
			<td> ${{ product.price }} </td>
			<td><button ng-click="deleteProduct($index)">Delete Product</button></td>
		</tr>
	</table>
	
</body>
</html>